/* layout */
body{
  margin: 0;
}

.container{
  width: 970px;
  margin: 0 auto;
}
.ibox{
  display: inline-block;
}
.box{
  box-sizing: border-box;
  font-size: 14px;
}
/* price */
.new-price{
  color: red;
}
.old-price{
  color: #8f8f8f;
  text-decoration: line-through;
}
